*{
    box-sizing: border-box;
}
div#container{
    width: 100%;
    height: 100%;
    background-color: #ededed;
}
div#container::after{
    content: '';
    height: 127px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    left: 0;
    background-color: #009688;
}
div#container div.main{
    max-width: 1396px;
    margin: 0 auto;
    height: 100%;
    width: 1396px;
    background-color: #e6e6e6;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*SideNav*/
.sidenav{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidenav-header{
    display: flex;
    height: 59px;
    align-items: center;
    position: relative;
    z-index: 1000;
    justify-content: flex-end;
    color: #4a4a4a;
    padding: 10px 16px;
}
.sidenav-header .img{
    flex-grow: 1;
}
div.content-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}
div.content-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar ul li{
    color: #999;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-left: 10px;
}
.navbar ul li:first-child{
    margin-left: 0;
}